<configuration debug="true">
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %-5p [%logger] %msg%n</pattern>
		</layout>
	</appender>

	<logger name="tr.richfacesext">
		<level value="DEBUG"/>
	</logger>

	<root>
		<level value="INFO"/>
		<appender-ref ref="stdout"/>
	</root>
</configuration>